@font-face {
    font-family: lotr;
    src: url(../../baseAssets/fonts/RingbearerMedium-51mgZ.ttf);
}
@font-face {
    font-family: heading;
    src: url(../../baseAssets/fonts/AnironBold-mL9P.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-wrapper{
    background: url(../../baseAssets/images/wallpaper1.png);
    /* filter: grayscale(100%); */
    background-size: cover;
    width: 100vw;
    height: 100vh;

}
h1{
    font-size: 5rem;
    color: white;
    font-family: lotr;
    text-align: center;
    letter-spacing: 10px;
    padding: 20px 0px;
}
.character-container{
    max-width: 80vw;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
}
.character-box{
    width: 400px;
        height: 480px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
transition: all ease-in-out 0.3s;
}


.character-box:nth-child(1){
box-shadow: inset 0 14px 50px 40px rgba(1, 13, 1, 0.603);

}
.character-box:nth-child(2){
box-shadow: inset 0 14px 50px 40px rgba(2, 32, 57, 0.603);

}
.character-box:nth-child(3){
    box-shadow: inset 0 14px 50px 40px rgba(35, 27, 11, 0.603);
    
}

.character-box:nth-child(1):hover, .character-box:nth-child(2):hover, .character-box:nth-child(3):hover{
    box-shadow: inset 0 14px 50px 60px rgba(220, 217, 28, 0.227);   
}



.character-box img{
    margin-top: 30px;
    max-width: 390px;
        width: 100%;
}

.character-name{
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    color: white;
    font-family: heading;
}


/* Positions */

<<<<<<< HEAD:Lecture 10 - CSS positions/positionsProject/style.css

=======
>>>>>>> 76fec997814afbdf854727c30bb03ecdd4550b5c:CSS positions/positionsProject/style.css
